
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Martel&display=swap');

html {
    --background: #E67D66;
    --main-color: #8E3B46;
    --black: #2F2F2F;
    --white: #FFF8F0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    background-image:
      linear-gradient(
        var(--background),
        var(--main-color)
        );
    font-family: 'Martel', 'Georgia', 'Times New Roman', serif;
    font-size: 18px;
}

h1, p, figcaption, a {
    padding: 0.5em 0.25em;
}

header, main, footer {
    background-color: var(--white);
    padding: 1em;
}

.subscript {
    font-size: 0.75em;
    font-weight: lighter;
    vertical-align: bottom;
}

i {
    font-style: italic;
    font-weight: bold;
}

b {
    color: var(--main-color);
    font-weight: bold;
}

/* Header */

header {
    padding: 2em 0 1.5em 0.5em;
}

header h1 {
    border: 0.6em solid #B1B695;
    border-image-repeat: repeat;
    border-image-slice: 33.33%;
    border-image-source: url(media/border-vine.png);
    border-top: none;
    color: var(--main-color);
    font-family: 'Baskerville', 'Times New Roman', serif;
    font-size: 3em;
    padding: 0 0.25em 0.5em 0.25em;
    text-align: center;
}

header p {
    font-weight: bold;
    padding-top: 2em;
    text-align: center;
}

/* Nav */

nav {
    background-color: #FFF;
    border: 0.25em solid var(--black);
    border-left: none;
    border-right: none;
    padding: 0.5em;
}

nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0.1em 0;
}

nav li {
    padding: 0.6em 0.5em;
    text-align: center;

}

nav a {
    background-color: var(--black);
    border: 0.1em solid var(--main-color);
    border-radius: 0.5em;
    color: var(--white);
    font-weight: bold;
    padding: 0.3em 4em;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--white);
    border: 0.1em solid var(--black);
    color: var(--main-color);
}

.current-page {
    background-color: var(--white);
    color: var(--main-color);

}

/* Main */

section, article {
    background-color: #FFF;
    border: 0.25em solid var(--black);
    box-shadow: 0 1em 1em #999;
    column-gap: 2em;
    column-width: 25em;
    margin: 3em 0.2em 1em 0.2em;
    padding: 1.5em;
}

section p::first-letter, article p::first-letter {
    font-size: 1.4em;
    font-style: normal;
    font-weight: bold;
}

ul, ol {
    column-gap: 2em;
    column-width: 20em;
    margin: 0.5em 2em;
}

li {
    padding: 0.1em 0.5em;
}

figure {
    break-inside: avoid;
    padding: 1em;

}

figure img {
    margin: 0 auto;
    max-width: 100%;
}

figcaption {
    color: var(--black);
    font-size: 0.5em;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

/* Media Queries */

@media screen and (min-width: 50em) {
    body {
        border: 3em solid #000;
        border-bottom: none;
        border-image-slice: 33.33%;
        border-image-repeat: repeat;
        border-image-source: url(media/border-tile.png);
        border-top: none;
        margin: 0 auto;
        width: 85%;
    }

    header h1 {
        font-size: 4em;
    }

    nav ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    nav a {
        padding: 0.5em 2em;
    }

    main > section, main > article {
        margin: 3em 1em 1em 1em;
    }
}

@media screen and (min-width: 80em) {
    nav a {
        padding: 0.3em 4em;
    }


}

@media screen and (min-width: 100em) {
    body {
        width: 80em;
    }
}
